<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    <link rel="stylesheet" href="@Href("~/Styles/blueprint/screen.css")" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="@Href("~/Styles/blueprint/print.css")" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="@Href("~/Styles/blueprint/ie.css")" type="text/css" media="screen, projection"><![endif]-->
    <link href="@Href("~/Styles/Site.css")" rel="stylesheet" />
    <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>

    @RenderSection("head", required: false)

</head>
<body>
    <div id="page" class="container">
        <div id="header" class="span-24 last">
            <p class="site-title">
                Git Web Access</p>
            <div id="login">
                @if (WebSecurity.IsAuthenticated)
                {
                    <ul>
                        <li><a href="@Href("~/")">Home</a></li>
                        @if (Roles.IsUserInRole("admin"))
                        {
                            <li><a href="@Href("~/Config.cshtml")">Admin</a></li>
                        }
                        <li><a href="@Href("~/")@WebSecurity.CurrentUserName">Profile</a></li>
                        <li><a href="@Href("~/Account/ChangePassword")">Password</a></li>
                        <li><a href="@Href("~/Account/Logout")">Logout</a></li>
                    </ul>
                }
                else
                {
                    <ul>
                        <li><a href="@Href("~/")">Home</a></li>
                        <li><a href="@Href("~/Account/Register")">Register</a></li>
                        <li><a href="@Href("~/Account/Login")">Login</a></li>
                    </ul>
                }
            </div>
@*            <ul id="menu">
                <li><a href="@Href("~/")">Home</a></li>
                <li><a href="@Href("~/About")">About</a></li>
            </ul>*@
        </div>
        <div id="content" class="span-24 last">
            @ConfigHelper.ValidateConfiguration()
            <h1>@Page.Title</h1>
            @RenderBody()
        </div>
        <div id="footer" class="span-24 last">
            &copy; @DateTime.Now.Year - Git Web Access (http://gitweb.codeplex.com)
        </div>
    </div>
</body>
</html>
